body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .book-library {
      background-color: #ffffff;
      padding: 20px;
      max-width: 800px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .book {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    .book img {
      width: 200px;
      height: auto;
      margin-bottom: 15px;
	  align-self:center;
    }
    .book h2 {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0;
    }
    .book .author {
      color: #777777;
      font-size: 14px;
      margin: 0;
    }
    .price-block {
      background-color: #2ecc71;
      color: #ffffff;
      padding: 8px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      border-radius: 4px;
    }